name: Building # Nombre del WorkFlow
on: [push] # Cuando se ejecuta el push
jobs: # Solo vamos a ejecutar uno
  building:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3 # Checkout para copiar el Repositorio. Ejemplos: github.com/actions/checkout, github.com/actions/setup-python
      - uses: actions/setup-python@v4 
        with:
          python-version: '3.10'
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - run: poetry build # Ejecuto un comando de consola en el repositorio
      - run: ls ${{ github.workspace }} # Ejecuto el comando de consola en el repositorio. Un ls del workspace, en este caso. Importante: ${{ github.workspace }}
    # Añadir Publish para publicar los binarios. Buscamos en github.com/marketplace. Tener en cuenta estrellas, desarrollador, mantenido por GitHub o referenciado por GitHub
      - name: Publish to GH Releases
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ github.workspace }}/dist/* # Subimos todos los binarios
          name: nombre_cualquiera. # Parámetros obligatorios. Ha dado error por lo que los hemos añadido después
          tag_name: etiqueta_cualquiera # Parámetros obligatorios. Ha dado error por lo que los hemos añadido después
